* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #cccccc;
}

#board div {
    width: 20px;
    height: 20px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    float: left;
}

#board div.live {
    background-color: #000000;
}

#board {
    margin: 50px auto 0;
    min-height: 50px;
    min-width: 50px
}

#game-menu {
    margin: 50px auto;
    width: auto;
}

#game-set {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.start{
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.invisible {
  display: none;
}

#start{
  margin: 0 auto;
}
